<div class="main-content">
	<a routerLink="" class="back-button">Volver</a>
  
	<ng-container *ngIf="nota">
	  <div class="nota-container">
  
		<form #notaForm="ngForm" (ngSubmit)="actualizar()">
		  <p class="id">ID: {{ nota.uid }}</p>
  
		  <label for="titulo">Título:</label>
		  <input type="text" id="titulo" name="titulo" [(ngModel)]="nota.titulo" required>
  
		  <p class="date">{{ nota.fecha | date:'dd-MM-yyyy HH:mm' }}</p>
  
		  <label for="contenido">Contenido:</label>
		  <textarea id="contenido" name="contenido" [(ngModel)]="nota.contenido" required></textarea>
  
		  <div class="button">
			<button class="button-guardar" type="submit">Guardar</button>
		  </div>
		</form>
  
	  </div>
	</ng-container>
  </div>
  