<!-- Formacion de el sidebar haciendo uso de RouterLink para crear en enlace y CSS
	para las rutas "routerLinkActive"
-->
<!-- En tu componente.html -->

<div class="sidebar" [ngClass]="{'collapsed': !sidebarVisible}">
	<div class="button">
		<button class="button-sidebar" (click)="toggleSidebar()">☰</button>
	</div>
	<div class="nav-items" [ngClass]="{'collapsed': !sidebarVisible}">
		<li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
				routerLink="notas">Listado Notas</a></li>
		<li class="nav-item"><a routerLinkActive="active" routerLink="notas/nueva">Nueva nota</a></li>
	</div>
</div>

